@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoca Han Sans Neo';
}

body {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  align-content: center;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bgimg-3 {
  margin: 0 auto;
}
