@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoca Han Sans Neo';
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

section {
  align-content: center;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
