/* css reset */
body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* css 적용 */
.container {
    display: flex;
    background-color: #05022d;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    width: 18.5vw;
}

.center {
    background-color: #05022d;
    display: flex;
    flex-flow: column;
    width: 63%;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    width: 18.5vw;
}

.header {
    font-size: 16px;
    color: #fff;
    font-style: normal;
    margin: 10px;
}

.main {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.heat {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
.bar1 {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.center .heat {
    width: 100%;
    height: 50vh;
    padding: 0px;
    margin: 0;
}
.center .bar1 {
    width: 100%;
    height: 40vh;
    padding: 0px;
    margin: 0;
}

.left .heat,
.right .heat {
    width: 100%;
    height: 18vh;
    padding: 0px;
    margin: 0;
}
.left .bar1,
.right .bar1 {
    width: 100%;
    height: 12vh;
    padding: 0px;
    margin: 0;
}

.left > .item-container,
.right > .item-container {
    width: 100%;
    height: 33vh;
    border: 1px solid white;
}

.center > .item-container {
    border: 1px solid white;
    height: 99.6vh;
}

.item-container .main {
    width: 100%;
    height: 30vh;
}

.center .main {
    width: 100%;
    height: 99vh;
}

.fullscreen .main {
    width: 100vw;
    height: 100vh;
}

.fullscreen .plus {
    width: 100vw;
    height: 100vh;
}

.fullscreen .bar1 {
    width: 100vw;
    height: 40vh;
}

.fullscreen .heat {
    width: 100vw;
    height: 55vh;
}

.dragOver {
    background-color: rgba(156, 118, 231, 0.3);
}

.btn_image {
    width: 32px;
    height: 20px;
    float: right;
    border: 0;
    border: 2px solid #87eb89;
    color: #fff;
    border-radius: 10px;
    padding: 0px;
}
.zoomIn {
    display: block;
}

.zoomOut {
    display: none;
    width: 56px;
    height: 30px;
}

.pdfButton {
    width: 45px;
    height: 30px;
    float: right;
    background-color: #d19ecb;
    border: 0;
    display: none;
    padding: 0px;
}

.imgButton {
    width: 45px;
    height: 30px;
    float: right;
    background-color: #f0d264;
    border: 0;
    display: none;
    padding: 0px;
}

.fullscreen .pdfButton {
    display: block;
}

.fullscreen .imgButton {
    display: block;
}

.fullscreen .zoomIn {
    display: none;
}

.fullscreen .zoomOut {
    width: 56px;
    height: 30px;
    border-radius: 0px;
    display: block;
}

.img {
    width: 15px;
    height: 17px;
}

.buttonImg {
    float: left;
    width: 43px;
    height: 30px;
}
